<h1>Welcome TO Titanic Prediction</h1>

<p>About the dataset</p>
<p>The sinking of the Titanic is one of the most infamous shipwrecks in history.

    On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.
    
    While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.
    
    In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data</p>

<p>Variable name definitions: </p>

    <p>Pclass : Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)</p>

    <p>sex : Sex</p>

    <p> sibsp: Number of Siblings/Spouses Aboard </p>

    <p>  parch: Number of Parents/Children Aboard </p>

    <p>    embarked :Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)  </p>




    <p>There were other variable such as passengerId , name ,fare ...etc But they do not affect the Target Column ,so we dont need those datas.</p>


    <h3>My model has an accuracy of 77.19 % </h3>
    <h1>Use /predict for prediction</h1>



    


   
   